.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 98px;
}


ul {
    display: flex;
    column-gap: 50px;
}


.activate {
    color: #27187F;
    font-size: 24px;
}

.no_activate {
    color: #758BFD;
    font-size: 24px;
}

.fa-magnifying-glass {
    color: #758BFD;
    padding: 10px 10px 10px 182px;
    border: 3px solid #758BFD;
    border-radius: 10px;
}


/* section */
section {
    background-color: #DDEAF8;
}

.section_h {
    color: #27187F;
    font-size: 32px;
    padding: 115px 98px 68px 98px;
}

.section_div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 22px;
    row-gap: 51px;
    padding-left: 98px;
    padding-bottom: 115px;
}

figure {
    background-color: white;
    padding: 30px 30px 0 30px;
    border: solid white;
    border-radius: 10px;
}

figcaption {
    color: #133B3A;
    font-size: 20px;
    padding: 33px 0 33px 0;
}


/* footer */
footer {
    background-color: #758BFD;
}

p {
    color: white;
    font-size: 20px;
    padding: 75px 0 10px 98px;
}

.fa-facebook-f,
.fa-linkedin-in,
.fa-instagram {
    color: white;
}

.footer_div {
    display: flex;
    column-gap: 15px;
    padding: 0 0 105px 98px;
}

.footer_div2 {
    padding: 0 104px 109px 0;
}

.footer_main_div {
    display: flex;
    justify-content: space-between;
}
    